@layer passport-page {
  .passport-page-screentime {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem .8rem 4rem 0;
  }
  .screentime-page-illustration {
    position: absolute;
    left: calc(100% + 1rem);
    bottom: 3rem;
    width: 28rem;
  }
  @media (max-aspect-ratio: 15.5/9) {
    .screentime-page-illustration {
      display: none;
    }
  }
  .activity-select {
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* Fill available space between container and window edge */
    width: calc(75vw - 50% - 1rem);
    height: 60rem;
    z-index: 2;
  }
  .activity-select .activity-select-section {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    transition: opacity 200ms ease;
  }
  .activity-select .activity-select-section.section-optional {
    justify-content: flex-start;
  }
  .activity-select .activity {
    --fill-color: 255 255 255;
    --activity-icon-width: 13.5rem;
    --activity-icon-height: 13.5rem;
    width: var(--activity-icon-width);
    height: var(--activity-icon-height);
    margin: 0.5rem;
    cursor: pointer;
  }
  .passport-page-screentime .activity .activity-highlight {
    position: absolute;
    width: var(--activity-icon-width);
    height: var(--activity-icon-height);
    border: calc(var(--activity-icon-width) / 2) solid #666;
    border-radius: 50%;
    transform: scale(.95) scale(0);
    transition: transform 100ms ease;
  }
  .activity-select .activity:hover .activity-highlight {
    transform: scale(.95) scale(0.75);
  }
  .activity-select .activity.selected .activity-highlight {
    transform: scale(.95) scale(0.9);
  }
  .activity-select .activity img {
    position: relative;
    width: var(--activity-icon-width);
    pointer-events: none;
  }
  .selected-activities {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 22rem;
  }
  .selected-activities .activity {
    --fill-color: 255 255 255;
    --activity-icon-width: 8.4rem;
    --activity-icon-height: 8.4rem;
    width: var(--activity-icon-width);
    height: var(--activity-icon-height);
    margin: 0.8rem;
  }
  .selected-activities.compact .activity {
    margin: 0.4rem 0.1rem 0.4rem 0.1rem;
  }
  .selected-activities .activity img {
    position: relative;
    width: var(--activity-icon-width);
    pointer-events: none;
  }
  .selected-activities .activity:not(.selected) {
    display: none;
  }
  .time-slots {
    position: relative;
    width: 50rem;
    height: auto;
    z-index: 2;
  }
  .time-slots .segment {
    fill: rgb(208 179 148 / 0.5);
    stroke: #f1dcc4;
    cursor: pointer;
  }
  .time-slots[data-color] .segment:hover {
    fill: rgb(var(--fill-color) / .4);
  }
  .time-slots .segment[data-color] {
    fill: rgb(var(--fill-color) / 1);
  }
  .time-slots .segment[data-color]:hover {
    fill: rgb(var(--fill-color) / .8);
  }
  .time-slots-illustration {
    position: absolute;
    bottom: 27rem;
    width: 26rem;
    z-index: 1;
  }
  .screentime-agreement {
    position: relative;
    width: 47rem;
    height: auto;
    margin: 1rem -1.5rem -1.5rem -1.5rem;
  }
  .passport-page-screentime [data-color="color-01"] { --fill-color: 178 238 204; } /* activity-daycare */
  .passport-page-screentime [data-color="color-02"] { --fill-color:  52  84 135; } /* activity-eveningroutine */
  .passport-page-screentime [data-color="color-03"] { --fill-color: 174 135 228; } /* activity-hobbiesculture */
  .passport-page-screentime [data-color="color-04"] { --fill-color: 184  60  50; } /* activity-mealtime */
  .passport-page-screentime [data-color="color-05"] { --fill-color: 255 214  98; } /* activity-morningroutine */
  .passport-page-screentime [data-color="color-06"] { --fill-color: 144 177 212; } /* activity-physicalactivities */
  .passport-page-screentime [data-color="color-07"] { --fill-color: 235 115  62; } /* activity-playtime */
  .passport-page-screentime [data-color="color-08"] { --fill-color: 111 148 107; } /* activity-preschool */
  .passport-page-screentime [data-color="color-09"] { --fill-color: 234  77 255; } /* activity-screentime */
  .passport-page-screentime [data-color="color-10"] { --fill-color: 210 235 117; } /* activity-snack */
  .passport-page-screentime [data-color="color-11"] { --fill-color: 221 130 147; } /* activity-socialactivities */
}
@layer hidden-elements {
  .activity-select-section:not(.active) {
    opacity: 0;
    pointer-events: none;
  }
}
@layer print {
  @media print {
    .activity-select,
    .screentime-page-illustration {
      display: none;
    }
  }
}
