@layer passport-page {
  .passport-page-cover {
    padding: 21rem 0 0 0;
    display: grid;
    grid-auto-columns: 1fr 24rem 1fr;
    grid-template-rows: 24rem 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
      '. photo button'
      'name name name'
      'stamp . .'
    ;
  }
  /* Photo */
  .passport-image-container {
    position: relative;
    grid-area: photo;
    place-self: center;
    width: 100%;
    height: auto;
    /* aspect-ratio: 4 / 3; */
    aspect-ratio: 1;
    transform:
      /* Position fine tuning */
      translateX(-0.6rem) scale(98%)
      /* Front-facing camera mirroring */
      scaleX(-100%)
    ;
    border-radius: 50%;
    overflow: hidden;
  }
  .passport-image-container > * {
    pointer-events: none;
  }
  .passport-image-live,
  .passport-image-snapshot {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .passport-image-live {
  }
  .passport-image-snapshot {
    border: 0;
  }
  .passport-image-button {
    position: relative;
    grid-area: button;
    place-self: center;
    font-size: 4rem;
    visibility: hidden;
  }
  .passport-image-snapshot:not([src]) {
    display: none;
  }
  .passport-image-flash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    opacity: 0;
    background: #fff;
  }
  .spacebar-guide {
    position: absolute;
    left: calc(100%);
    /* Fill available space between container and window edge */
    width: calc(75vw - 50%);
    height: 60%;
    object-fit: contain;
    transition: opacity 500ms ease 1s;
  }
  /* Name */
  .passport-name-input {
    position: relative;
    grid-area: name;
    place-self: center;
    width: 28rem;
    width: 40rem;
    padding: 0.5rem;
    border: 0;
    color: #555;
    font-size: 3rem;
    background: rgb(0 0 0 / 0);
    text-align: center;
    text-transform: uppercase;
    outline: none !important;
    transform: translate(-0.4rem, -2.8rem);
  }
  .passport-name-input:focus {
    background: rgb(50 50 0 / .03);
  }
  .passport-name-input:focus::placeholder {
    color: transparent;
  }
  /* Stamping */
  .passport-stamp-tool {
    position: absolute;
    top: 50rem;
    left: calc(100% + 4rem);
    transition: opacity 200ms ease 500ms;
    cursor: pointer;
  }
  .passport-stamp-tool img {
    width: 20rem;
    user-select: none;
  }
  .is-stamp-held .passport-stamp-tool {
    cursor: none;
  }
  .passport-stamp-image {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-25%, -75%);
    opacity: 0;
    pointer-events: none;
  }
  .passport-stamp-image img {
    width: 17rem;
  }
  .passport-stamp-area {
    opacity: 0;
    position: absolute;
    width: 49.2rem;
    height: 18.3rem;
    left: 2rem;
    top: 54rem;
    border: 0.25rem dashed rgb(0 0 0 / .4);
    box-shadow: 0 0 0 100vw rgb(0 0 0 / .2);
    transition: opacity 200ms ease;
    pointer-events: none;
  }
  .is-stamp-held .passport-stamp-area {
    opacity: 1;
  }
}
@layer hidden-elements {
  .passport-stamp-tool:not(.active),
  .spacebar-guide:not(.active) {
    opacity: 0;
    pointer-events: none;
  }
}
@layer print {
  @media print {
    .passport-stamp-tool,
    .spacebar-guide {
      display: none;
    }
  }
}
