@layer passport-page {
  .passport-page-agelimit {
  }
  /* Container for agelimit icons to be dragged from */
  .agelimit-initial-grid {
    position: absolute;
    top: 1rem;
    left: calc(100% + 2rem);
    /* Fill available space between container and window edge */
    width: calc(75vw - 50% - 3rem);
    min-height: calc(100% - 1rem);
  }
  .agelimit-item {
    display: block;
    position: absolute;
    width: 6.5rem;
    height: 6.5rem;
    margin: 0.35rem;
  }
  .agelimit-initial-grid .agelimit-item {
    margin: 4rem;
  }
  .agelimit-item.muuri-item-dragging {
    z-index: 3;
  }
  .agelimit-item.muuri-item-releasing {
    z-index: 2;
  }
  .agelimit-item-content {
    width: 100%;
    height: 100%;
    cursor: grab;
  }
  .agelimit-item img {
    width: 100%;
    height: auto;
    transform-origin: center;
    transition: transform 200ms ease;
  }
  .agelimit-initial-grid .agelimit-item:not(.muuri-item-dragging) img {
    transform: scale(2);
  }
  /* Drag target containers */
  .agelimit-target-grid {
    position: absolute;
    width: 7rem;
    min-height: 7rem;
    max-height: 7rem;
  }
  .agelimit-icon-targets-background {
    position: absolute;
    left: 0.3rem;
    top: 3.7rem;
    width: calc(100% - 1rem);
    pointer-events: none;
  }
  /* Person 1 */
  .agelimit-target-grid[data-id="target-1"] { top: 22.9rem; left: 19.8rem; }
  .agelimit-target-grid[data-id="target-2"] { top: 31.4rem; left: 18.5rem; }
  .agelimit-target-grid[data-id="target-3"] { top: 39.7rem; left: 22rem; }
  /* Person 2 */
  .agelimit-target-grid[data-id="target-4"] { top: 5.8rem; left: 7.5rem; }
  .agelimit-target-grid[data-id="target-5"] { top: 13.0rem; left: 4.6rem; }
  .agelimit-target-grid[data-id="target-6"] { top: 20.9rem; left: 5.0rem; }
  .agelimit-target-grid[data-id="target-7"] { top: 28.0rem; left: 3.5rem; }
  .agelimit-target-grid[data-id="target-8"] { top: 34.7rem; left: 5.4rem; }
  /* Person 3 */
  .agelimit-target-grid[data-id="target-9"] { top: 9.5rem; left: 21.8rem; }
  .agelimit-target-grid[data-id="target-10"] { top: 8.1rem; left: 31rem; }
  .agelimit-target-grid[data-id="target-11"] { top: 8.1rem; left: 39.9rem; }
  .agelimit-target-grid[data-id="target-12"] { top: 16.1rem; left: 33rem; }
  .agelimit-target-grid[data-id="target-13"] { top: 15.6rem; left: 41.7rem; }
  .agelimit-target-grid[data-id="target-14"] { top: 24.4rem; left: 34rem; }
  .agelimit-target-grid[data-id="target-15"] { top: 24.4rem; left: 42.4rem; }
}
@layer print {
  @media print {
    .agelimit-initial-grid {
      display: none;
    }
  }
}