@layer passport-page {
  .passport-page-marketing {
  }
  .marketing-phone-background {
    position: absolute;
    left: -1.8rem;
    top: 1rem;
    width: calc(100% + 3.6rem);
    pointer-events: none;
  }
  .marketing-phone-sticker-area {
    position: absolute;
    left: 7rem;
    top: 4rem;
    width: 39rem;
    height: 65rem;
    pointer-events: none;
  }
  /* Character selection phase */
  [data-phase="select-character"] .marketing-character {
    position: absolute;
    --left: 1rem;
    left: calc(100% + var(--left));
    bottom: 2rem;
    cursor: pointer;
    transition: opacity 200ms ease;
  }
  [data-phase="select-character"]:hover .marketing-character:not(:hover) {
    opacity: .5;
  }
  [data-phase="select-character"] .marketing-character[data-character="raccoon"] {
    --left: -9.2rem;
    bottom: 1.4rem;
    width: 47.5rem;
    z-index: 2;
  }
  [data-phase="select-character"] .marketing-character[data-character="mouse"] {
    --left: 23.5rem;
    bottom: -1.3rem;
    width: 34.4rem;
    z-index: 3;
  }
  [data-phase="select-character"] .marketing-character[data-character="croc"] {
    --left: 33.4rem;
    bottom: -1.3rem;
    width: 47.3rem;
    z-index: 1;
  }
  /* Product selection phase */
  .product-select-container {
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* Fill available space between container and window edge */
    width: calc(75vw - 50%);
    max-width: calc(100% + 6rem);
    height: 100%;
    padding: 3rem;
  }
  .product-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    pointer-events: none;
  }
  .product-select > * {
    pointer-events: auto;
  }
  [data-phase="select-product"] .character-head {
    width: 20rem;
  }
  [data-phase="select-product"] .product {
    width: 20rem;
    cursor: pointer;
  }
  .product-select:hover .product:not(:hover) {
    opacity: .5;
  }
  /* Argument selection phase */
  .argument-select {
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    /* Fill available space between container and window edge */
    width: calc(75vw - 50%);
    max-width: calc(140% + 6rem);
    height: 100%;
    padding: 3rem;
    z-index: 2;
  }
  [data-phase="select-arguments"] .argument {
    --sticker-width: 10rem;
    width: var(--sticker-width);
    height: var(--sticker-width);
  }
  [data-phase="select-arguments"] .argument img {
    position: relative;
    width: var(--sticker-width);
    cursor: grab;
    z-index: 2;
  }
  [data-phase="select-arguments"] .argument .argument-shadow {
    position: absolute;
    width: var(--sticker-width);
    height: var(--sticker-width);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #eee;
    pointer-events: none;
  }
  [data-phase="select-arguments"] .product {
    position: absolute;
    top: 15rem;
    left: 8rem;
    width: 38rem;
    z-index: 1;
  }
  .reaction-character {
    position: absolute;
    left: 70%;
    bottom: 1rem;
    width: 30rem;
    z-index: 1;
  }
  .publish-button {
    position: absolute;
    --reset-right: calc(var(--page-width) / 2 - 75vw);
    --reset-bottom: calc(var(--page-height) / 2 - 50vh);
    --right: 5rem;
    --bottom: 4rem;
    right: calc(var(--right) + var(--reset-right));
    bottom: calc(var(--bottom) + var(--reset-bottom));
    border: 0;
    background: transparent;
    z-index: 5;
  }
  .publish-button img {
    width: 15rem;
  }
}
@layer hidden-elements {
  .marketing-page-phase:not(.active),
  [data-phase="select-product"]:not([data-selected-character="raccoon"]) [data-character="raccoon"],
  [data-phase="select-product"]:not([data-selected-character="mouse"]) [data-character="mouse"],
  [data-phase="select-product"]:not([data-selected-character="croc"]) [data-character="croc"],
  [data-phase="select-arguments"]:not([data-selected-character="raccoon"]) [data-character="raccoon"],
  [data-phase="select-arguments"]:not([data-selected-character="mouse"]) [data-character="mouse"],
  [data-phase="select-arguments"]:not([data-selected-character="croc"]) [data-character="croc"],
  [data-phase="select-arguments"]:not([data-selected-reaction="neutral"]) [data-reaction="neutral"],
  [data-phase="select-arguments"]:not([data-selected-reaction="happy"]) [data-reaction="happy"],
  [data-phase="select-arguments"]:not([data-selected-reaction="intrigued"]) [data-reaction="intrigued"],
  [data-phase="select-arguments"]:not([data-selected-reaction="surprised"]) [data-reaction="surprised"],
  [data-phase="select-arguments"]:not([data-selected-reaction="very-surprised"]) [data-reaction="very-surprised"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
  }
}
@layer print {
  @media print {
    [data-phase="select-character"],
    [data-phase="select-product"],
    [data-phase="select-arguments"] .reaction-character,
    [data-phase="select-arguments"] .argument:not(.was-dragged),
    .publish-button {
      display: none;
    }
    .argument-select {
      width: 0;
      height: 0;
      padding: 0;
      display: block;
    }
  }
}